<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
          {{>header}}
          <p>This application is created by Sanmit Mandal using weatherstack api and mapbox api.</p>
          <img src="/img/uwu.png" alt="" class="portrait">
    </div>
          {{>footer}}
  </body>
</html>
